.doughnut__row {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.doughnut__column {
  border: 3px solid #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 513px;
  padding: 25px;
}

.doughnut__container {
  height: 200px;
  position: relative;
  width: 100%;
}

.doughnut__chart {
  height: 50px;
  left: 38%;
  position: absolute;
  top: 52%;
  width: 90px;
}

.doughnut__labels_container {
  border-bottom: 3px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
  width: 100%;
}

.doughnut__labels {
  p {
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 0;
    padding: 0;
  }

  div {
    display: flex;
  }
}

.doughnut__labels_right {
  text-align: right;
}
