.form__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;

  label {
    font-weight: bold;
  }

  input {
    width: 50%;
  }
}

.form__button {
  background-color: transparent;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  padding: 10px 25px;
  text-transform: uppercase;
}
