#main {
  @media only screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
}

// Styles for doughnut component
@import "./Components/doughnut";
// Styles for form component
@import "./Components/form";
// Styles for loader component
@import "./Components/loader";
